h1 {
    background-color: #6495ed;
    padding: 25px;
    margin: 100px 300px 100px 100px;
}

p {
    background-color: #e0ffff;
}

div {
    background-color: #b0c4de;
}

#draw-target {
width:480px; 
height:320px;
background-color:#000;
position:relative;
}
