span {
            background-color: #0066aa;
            color: #ffffff;
            font-weight: bold;
            border-color: #c0c0c0;
            border: 2px solid;
            -ms-border-radius: 5px;
            border-radius: 5px;
            padding: 3px;
            position: absolute;
            top: 150px;
            left: 100px;
        }