p{margin:0; padding:0;}

span{
	display:inline-block;
	color:white;
	text-align:center;
}

div>span{
	display:inline-block;
	height:15px;
	width:10px;
	background-color:silver;
	margin:1px;
	border-radius:50%;
}

div>input{
	width:20px;
}

label{
	display:inline-block;
	width:60px;
}
